@tailwind base;
@tailwind components;
@tailwind utilities;

:focus:not(:focus-visible) {
  outline: none;
}

@layer base {
  :root {
    --block-size: 15rem;

    @apply bg-blue-lightest text-cool-black;

    cursor: default;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
  }

  a {
    @apply underline;
  }

  button,
  [role="button"] {
    cursor: default;
  }
}
