@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    cursor: default;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    background-color: #f9fbff;
    color: #333;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  a {
    @apply underline;
  }

  button,
  [role="button"] {
    cursor: default;
  }
}
