@tailwind base;
@tailwind components;
@tailwind utilities;

:focus:not(:focus-visible) {
  outline: none;
}

@layer base {
  :root {
    --block-size: 15.5rem;
    --block-title-height: 1.65rem;

    @apply bg-blue-lightest text-cool-black;

    cursor: default;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
  }

  a {
    @apply underline;
  }

  button,
  [role="button"] {
    cursor: default;
  }
}

@layer utilities {
  .contain-strict {
    contain: strict;
  }

  .break-word {
    word-break: break-word;
  }

  .animation-iteration-1 {
    animation-iteration-count: 1;
  }
}
